<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="net.ostis.confman.ui"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="clearPersistedState"
               value="true">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/net.ostis.confman.ui/css/default.css">
         </property>
         <property
               name="appName"
               value="net.ostis.confman.ui">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="pageEditor.EditorPart"
            id="pageEditor.EditorPart"
            name="New MultiPageEditorPart">
      </editor>
      <editor
            class="net.ostis.confman.ui.conference.af"
            id="net.ostis.confman.ui.conference.af"
            name="New MultiPageEditorPart">
      </editor>
   </extension>

</plugin>
