Уважаемые коллеги!

Спасибо за интерес к нашей конференции. Ваши материалы для участия в конференции $conferenceTitle приняты.
О результатах рецензирования мы сообщим позже.

С уважением,
Организационный комитет
$conferenceTitle

http://www.conf.ostis.net/index.php?title=$conferenceTitle