Уважаемые коллеги!

Спасибо за интерес к нашей конференции. Ваша статья не соответствует правилам 

оформления статей на конференцию $conferenceTitle. Правила оформления публикуемых 

материалов доступны на нашем сайте 

(http://www.conf.ostis.net/images/b/be/Правила_оформления_публикуемых_матери

алов_$conferenceTitle.zip). До УКАЗАТЬ КОНКРЕТНУЮ ДАТУ года ожидаем исправленный вариант статьи.