Уважаемые коллеги!

Спасибо за интерес к нашей конференции. Ваша статья принята к рассмотрению. 

Просьба прислать качественное персональное фото каждого автора статьи.

Просьба заполнить заявку на участие в конференции $conferenceTitle, которую можно 

скачать, пройдя по ссылке 

http://www.conf.ostis.net/images/e/ea/Заявка_на_участие_в_$conferenceTitle.zip