Уважаемые коллеги!

К сожалению, из-за финансовых проблем объём сборника материалов конференции оказался 

меньше, чем было запланировано. Поэтому Программный комитет, рецензируя доклады, должен 

был учесть это обстоятельство и отклонить большее число докладов, чем хотелось бы. Ваш доклад 

представляет большой интерес, но, к сожалению, оказался в числе отклонённых докладов. Мы 

надеемся, что в следующем году таких проблем не будет.